p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
  color: $text-color-light;

  @include mobile900 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

p.par--small {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 2.2rem;
  color: $text-color-light;
}