footer {
  padding: 0 2rem;

  .logo {
    display: block;
    width: 14.8rem;
    height: 3.2rem;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }

    &:before, &:after {
      display: none;
    }
  }

  nav {

    @include mobile900 {
      display: none;
    }
  }
}

.footer-content {
  @include mainContent;
  padding: 6rem 0 8rem;
  border-top: .1rem solid $border-footer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile900 {
    padding: 3rem 0 5rem;
  }
}

.footer-social {
  display: flex;

  a {
    display: block;
    margin-left: 2rem;

    &:first-child {

      @include mobile900 {
        margin-left: 0;
      }
    }

    &:before, &:after {
      display: none;
    }
  }

  svg {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    fill: $text-color-light;
    @include transition(fill .3s);

    &:hover {
      fill: $text-color-white;
    }
  }
}