.registration {
  padding-bottom: 11.3rem;
}

.registration-content {
  @include mainContent;
}

.registration-form-wrap {
  display: flex;
  border-radius: 3rem;
  box-shadow: $shadow-main;
  overflow: hidden;
}

.registration-stat {
  background-color: $bg-main;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile900 {
    display: none;
  }

  img {
    display: block;
    width: 100%;
  }
}
.registration-form {
  padding: 6rem 8rem;
  background-color: $bg-registration-form;
  width: 50%;

  @include mobile900 {
    width: 100%;
    padding: 3rem 3rem 5rem;
  }

  h3 {
    text-align: center;
    margin-bottom: 4rem;
  }

  .input-wrap {
    margin-bottom: 2.4rem;

    &:last-child {
      margin: 4rem 0 0;
      text-align: center;
    }
  }
}