.pricing {
  padding-bottom: 8rem;
}

.pricing-desc {
  text-align: center;

  h3 {
    color: $text-color-white;
    margin-bottom: 2rem;
  }

  p {
    margin: 0 auto 2.5rem;
    max-width: 65rem;
  }
}
.pricing-content {
  @include mainContent;
}

.pricing-plans {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}