.pricing {
  padding-bottom: 8rem;

  @include mobile900 {
    padding-bottom: 4rem;
  }
}

.pricing-desc {
  text-align: center;

  @include mobile900 {
    text-align: left;
  }

  h3 {
    color: $text-color-white;
    margin-bottom: 2rem;

    @include mobile900 {
      margin-bottom: 2.9rem;
    }
  }

  p {
    margin: 0 auto 2.5rem;
    max-width: 65rem;
  }
}
.pricing-content {
  @include mainContent;
}

.pricing-plans {
  margin: 6rem -2rem 0;
  display: flex;
  justify-content: space-between;

  @include mobile900 {
    margin-top: 3rem;
  }

  .card {
    margin: 0 4rem;

    @include mobile900 {
      margin: 0 1rem;
    }
  }
}