header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $bg-main;
  padding: 1rem 0;
  z-index: 1000;

  @include mobile900 {
    padding: 1.6rem 0;
  }

  nav {
    margin: 0 auto;
  }

  .logo {
    display: block;
    width: 18.4rem;
    height: 4rem;
    flex-shrink: 0;

    @include mobile900 {
      width: 13.8rem;
      height: 3rem;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
    }

    &:before, &:after {
      display: none;
    }
  }
}

.header-content {
  @include mainContent;
  display: flex;
  align-items: center;
}

.header-actions {
  flex-grow: 1;
  display: flex;
  align-items: center;

  @include mobile900 {
    display: none;
    padding: 4rem 20px 5rem;
    flex-direction: column;
    background-color: $bg-main;
    position: fixed;
    top: 6.2rem;
    left: 0;
    width: 100%;
    height: calc(100% - 6.2rem);
    overflow: auto;

    &.active {
      display: flex;
    }
  }
}

.mob-menu-btn {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  display: none;
  align-items: center;
  justify-content: center;

  @include mobile900 {
    display: flex;
  }

  &:before, &:after {
    display: none;
  }

  &.active {

    .mob-menu-btn-ico {

      div {

        &:nth-child(1) {
          top: .2rem;
          left: .5rem;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          transform: scaleX(0);
        }

        &:nth-child(3) {
          top: 1.9rem;
          left: .3rem;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.mob-menu-btn-ico {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;

  div {
    background-color: $bg-mob-btn-ico;
    width: 2.4rem;
    height: .3rem;
    position: absolute;
    left: 0;
    transition: transform .3s, top .3s, left .3s;

    &:nth-child(1) {
      top: .3rem;
      transform-origin: top left;
    }

    &:nth-child(2) {
      top: 1.1rem;
    }

    &:nth-child(3) {
      top: 1.9rem;
      transform-origin: top left;
    }
  }
}

nav {
  display: flex;

  @include mobile900 {
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }

  a {
    display: block;
    margin: 0 1.8rem;

    @include mobile900 {
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 3.4rem;
      margin: 0 0 3rem;
    }
  }
}