/* Media Queries */
@mixin tablet1260 {
  @media (max-width: 1260px) { @content; }
}

@mixin mobile900 {
  @media (max-width: 900px) { @content; }
}
/* End Media Queries */

/* Transitions */
@mixin transition($transition...) {
  transition: $transition;

  @include tablet1260 {
    transition: none;
  }
}
/* End Transitions */

/* Main Content styles */
@mixin mainContent {
  max-width: 122rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}
/* End Main Content styles */