/* Text Colors */
$text-color-main: #172755;
$text-color-light: #8794ba;
$text-color-link-hover: #fff;
$text-color-btn-primary: #fff;
$text-color-btn-secondary-active: #fff;
/* End Text Colors */

/* Backgrounds */
$bg-btn-primary: #ef2a82;
$bg-btn-primary-hover: #d61069;
$bg-btn-primary-active: #a60c51;
$bg-btn-secondary-hover: #465b95;
$bg-btn-secondary-active: #364672;
$bg-input: #eeeef6;
/* End Backgrounds */

/* Borders */
$border-btn-secondary: #465b95;
$border-input-active: #172755;
/* End Borders */