/* Containers */

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  overflow: hidden;
}

.footer-fix {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.footer-fix-container {
  flex-grow: 1;
}

/* End Containers */

/* Outlines Reset */

a, input, button {
  outline: none !important;
  text-decoration: none;
}

/* End Outlines Reset */

/* Headers */

h1 {
}

h2 {
}

h3 {
}

/* End Headers */

/* Paragraph */

p {
}

/* End Paragraph */