.outro {
  margin-top: -.8rem;
  padding-top: 5.3rem;
  background: url("../../img/bg/outro-bg.svg") right top -22rem no-repeat;

  @include mobile900 {
    margin-top: 0;
    padding-top: 4.7rem;
    background: none;
  }
}