h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 6rem;
  color: $text-color-white;
  margin-bottom: 1.5rem;
}

h2 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 6rem;
}

h3 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
}

h4 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
}