.skew-container {
  background-color: $bg-skew-container;
  border: 1.7rem solid $border-skew-container;
  border-left: 0;
  border-right: 0;
  transform-origin: top left;
  transform: skewY(-7.5deg);
}

.skew-content {
  transform-origin: top left;
  transform: skewY(7.5deg);
}